!!! 5
%html
  %head
    %title Listing for #{who}
    %link{rel: 'stylesheet', type: 'text/css', href: '/styles/listing.css'}
  %body{id: kind}
    %h1#name #{who.upcase}
    %p This is a #{kind} listing.